<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>ExifEasy</string>
	<key>CFBundleDisplayName</key>
	<string>ExifEasy</string>
	<key>NSLocationUsageDescription</key>
	<string>ExifEasy uses your current location to add GPS coordinates to photos. For example, when you click "Use My Location", your coordinates will be embedded in the selected photos' EXIF metadata so they appear on the map in the Photos app.</string>
</dict>
</plist>
